---
import Button from '../Button/Button.astro';

export interface Props {
  title: string;
  subtitle?: string;
  buttonText?: string;
  buttonLink?: string;
}

const { title, subtitle, buttonText, buttonLink } = Astro.props;
---

<div class='wrapper'>
  <img src='fb-weiben-2.jpg' />

  <!-- <h1>{title}</h1>
  <p>{subtitle}</p> -->

  <!-- <div class="btn">
    <Button title={buttonText ?? "Click here"} href={buttonLink ?? "/"} />
  </div> -->
</div>

<style>
  .wrapper {
    /* margin-bottom: 100px; */
    /* padding: 0 20px; */
  }

  .wrapper {
    /* background-color: var(--color-secondary-light); */
    min-height: 200px;
    position: relative;
    /* margin-top: 50px; */
    transform: skewY(-2deg);
  }

  img {
    width: 100%;
    max-height: 800px;
    object-fit: cover;
    object-position: top;
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
  }

  h1,
  p {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }

  h1 {
    font-size: 3rem;
  }

  p {
    margin-top: 40px;
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
</style>
