---
import Menu from "../Menu/Menu.astro";
---

<header>
  <a href="/">
    <img class="img-logo" src="/weiben-logo-light.svg" alt="logo" />
    <img src="/weiben-logo-dark.svg" alt="logo" />
  </a>
  <Menu />
</header>

<style>
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  header a {
    background: red;
    z-index: 10000;
  }

  img {
    position: absolute;
    width: 60px;
    z-index: 1;
  }
</style>
