---
import Menu from '../Menu/Menu.astro';
---

<header>
  <a href='/'>
    <img width='60px' height='40px' class='img-logo-light' src='/weibenfalk-logo-light.svg' alt='logo' />
    <img width='60px' height='40px' class='img-logo-dark' src='/weibenfalk-logo-dark.svg' alt='logo' />
  </a>
  <Menu />
</header>

<style>
  header {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
  }

  header a {
    z-index: 10000;
    padding-top: 50px;
  }

  .img-logo-light {
    display: none;
  }

  .img-logo-dark {
    display: block;
  }

  html.dark .img-logo-light {
    display: block;
  }

  html.dark .img-logo-dark {
    display: none;
  }

  img {
    width: 150px;
    height: 80px;
  }

  @media (max-width: 768px) {
    header {
      flex-direction: row;
    }
  }
</style>
